<h1>Block</h1>
<div>
  <div class="d-Block">
    <div class="bg-b-2">
      Alauda FE 是一个使用了 Angular 的 PC 端 前端项目解决方
    </div>
    <div class="bg-b-5">
      Alauda FE 是一个使用了 Angular 的 PC 端 前端项目解决方案
    </div>
  </div>
</div>

<h1>Flex</h1>
<div class="d-flex">
  <div class="bg-b-2">
    Alauda FE 是一个使用了 Angular 的 PC 端 前端项目解决方案
  </div>
  <div class="bg-b-5">
    Alauda FE 是一个使用了 Angular 的 PC 端 前端项目解决方案
  </div>
</div>

<h1>弹性元素自适应容器可用空间</h1>
<div class="d-flex">
  <div class="bg-b-1 flex-1">Alauda</div>
  <div class="bg-b-2 flex-2">Alauda</div>
  <div class="bg-b-3 flex-3">Alauda</div>
  <div class="bg-b-4 flex-4">Alauda</div>
  <div class="bg-b-5 flex-5">Alauda</div>
  <div class="bg-b-6 flex-6">Alauda</div>
</div>
